body{
    background-color: #999;
}
.navBar{
    background-color: rgb(20, 19, 19);
    width: 86%;
    height: 75px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    padding-left:17px ;
}
.navBar img{
    width:60px;
    height: 60px;
    margin-top: 8px;
}
.navBar li{
    list-style: none;
    padding-top: 22px;
}
.navBar li a{
    text-decoration: none;
    padding-left: 20px; 
    font-size: 22px;
    color: white;
    text-shadow:6px 6px 10px #555;
}
.Pro{
    margin-right: 520px;
}
.navBar li a button{
    background-color: rgb(233, 108, 19) ;
    color: #333;
    font-size: 18px;
    padding:5px 10px;
    border-radius: 5px;
    border-style:none ;
}


header{
    background-image: url(../Images/back-ground.jpg);
    width: 87%;
    height: 350px;
    margin: auto;
    margin-top: 45px;
    border-radius: 15px;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header h1{
    text-align: center;
    padding-top: 55px;
    font-size: 50px;
    color: white;
    text-shadow:6px 6px 10px #000;
}
header .b1{
    margin-left: 450px;
    margin-top: 12px;
}
header button{
    margin-left: 35px;
    background-color: rgb(233, 108, 19) ;
    color: #333;
    font-size: 18px;
    padding: 11px 15px;
    border-radius: 6px;
    border-style:none ;
}
.navBar li a:hover{
    color:rgb(17,160,216);
}
.navBar li button:hover{
    background-color: rgb(219,205,200);
    color: rgb(17,160,216);
    cursor: pointer;
}
header button:hover{
    background-color: rgb(219,205,200);
    color: rgb(17,160,216);
    cursor: pointer;
}
button:focus{
    outline: none;
}

section div .img1{
    
    width: 195px;
    height: 170px;
    border-radius: 10px;
    
}
section div .img23{
    width: 98px;
    height: 125px;
    border-radius: 10px;
}
section div{
    background-color: white;
    width: 22%;
    height: 450px;
    text-align: center;
    padding:6px 15px 35px;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 20px;
}
section div button{
    background-color: rgb(233, 108, 19) ;
    color: #221;
    font-size: 18px;
    padding: 11px 15px;
    border-radius: 6px;
    border-style:none ;
}
section div button:hover{
    background-color: rgb(146, 146, 146);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

section{
    display: flex;
    justify-content: center;
}
section div pre{
    font-weight: bold;
    font-size: 16px;
    color:#666;
}
section div h2{
    color: #666;
    font-size: 25px;
    font-weight: bolder;
}
table{
    text-align: center;
    margin:auto;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 90px;
    width:70%;
    margin-right: 190px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    
}
table tr,td,th{
    border:1px solid black;
}
table th{
    background-color: rgb(248, 113, 63);
    padding: 10px;
}
table tr td img{
    padding: 10px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}
table tr:nth-child(even){
    background-color: rgb(228, 226, 226);
}
table tr td button{
    background-color: rgb(233, 108, 19) ;
    color: #333;
    font-size: 18px;
    padding: 11px 15px;
    border-radius: 15px;
    border-style:none ;
}
table tr td{
    font-weight: bold;
}
table tr td button:hover{
    background-color: rgb(146, 146, 146);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
footer{
    background-color: black;
    width: 100%;
    height: 120px;
    margin-top:40px;
}
footer h3{
    color: white;
    text-align: center;
    padding-top: 50px;
}